DateTime==4.3
selenium==4.1.0
requests==2.27.1
mysql-connector-python==8.0.28
PyVirtualDisplay==2.2
xvfbwrapper==0.2.9
python-dateutil==2.8.2
webdriver-manager==3.5.2
logger==1.4
 numpy==1.22.3 
bsedata==0.5.0
cryptocmd==0.6.0
dateparser==1.0.0
Historic_Crypto==0.1.6
mysql_connector_repackaged==0.3.1
yahoo_fin==0.8.9.1
yfinance==0.1.55
requests==2.27.1